In [7]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('Weather Dataset.csv')

In [9]:
data.head(5)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,month
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,3
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,3
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,4
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,4
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,4

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            8760 non-null   object
 1   Summary                   8760 non-null   object
 2   Precip Type               8760 non-null   object
 3   Temperature (C)           8760 non-null   float64
 4   Apparent Temperature (C)  8760 non-null   float64
 5   Humidity                  8760 non-null   float64
 6   Wind Speed (km/h)         8760 non-null   float64
 7   Wind Bearing (degrees)    8760 non-null   float64
 8   Visibility (km)           8760 non-null   float64
 9   Loud Cover                8760 non-null   float64
 10  Pressure (millibars)      8760 non-null   float64
 11  Daily Summary             8760 non-null   object
 12  month                     8760 non-null   int64
dtypes: float64(8), int64(1), object(4)
memory usage: 889.8+ KB

In [11]:
data.isnull().sum()

Formatted Date              0
Summary                     0
Precip Type                 0
Temperature (C)             0
Apparent Temperature (C)    0
Humidity                    0
Wind Speed (km/h)           0
Wind Bearing (degrees)      0
Visibility (km)             0
Loud Cover                  0
Pressure (millibars)        0
Daily Summary               0
month                       0
dtype: int64

In [12]:
mean_temp =  np.mean(data['Temperature (C)'])
print("Mean Temperature is: ", mean_temp)

var_temp = np.var(data['Temperature (C)'])
print("Variance of Temperature is: ", var_temp)

standard_deviation_temp = np.std(data['Temperature (C)'])
print("Standard Deviation of Temperature is: ", standard_deviation_temp)

Mean Temperature is:  11.215224505327246
Variance of Temperature is:  92.10832938614958
Standard Deviation of Temperature is:  9.597308444879198

In [ ]:
for i in range(1,13):
    month = data.loc[data["month"] == i]["Temperature (C)"]
    print(month)
    print("For month "+str(i))
    print("Mean Temperature is: "+ str(np.mean(month)))
    print("Standard deviation is "+ str(np.std(month))+"\n")

2208   -2.144444
2880    1.161111
2881    1.666667
2882    1.711111
2883    1.183333
          ...
3618   -1.222222
3619   -1.222222
3620   -0.688889
3621   -1.111111
3622   -1.277778
Name: Temperature (C), Length: 744, dtype: float64
For month 1
Mean Temperature is: -1.677942054958184
Standart deviation is 4.5712018376029375

2209   -2.466667
2210   -2.744444
2211   -2.188889
2212   -2.038889
2213   -2.672222
          ...
2876   -2.177778
2877   -1.694444
2878   -1.916667
2879   -2.783333
5087   -4.905556
Name: Temperature (C), Length: 672, dtype: float64
For month 2
Mean Temperature is: -0.06539351851851853
Standart deviation is 4.5619751209500565

0       9.472222
1       9.355556
5088   -4.894444
5089   -5.483333
5090   -5.461111
          ...
5825    2.283333
5826    2.266667
5827    2.266667
5828    2.305556
5829    2.266667
Name: Temperature (C), Length: 744, dtype: float64
For month 3
Mean Temperature is: 4.559274193548387
Standart deviation is 5.716441576306104

2        9.377778
3        8.288889
4        8.755556
5        9.222222
6        7.733333
          ...
717     11.161111
718     10.027778
719     10.138889
5830    12.733333
5831    12.688889
Name: Temperature (C), Length: 720, dtype: float64
For month 4
Mean Temperature is: 12.635030864197532
Standart deviation is 4.77026072442796

4367     7.277778
4368     7.294444
5832    11.133333
5833    11.600000
5834    11.088889
          ...
6569    19.005556
6570    17.455556
6571    12.844444
6572    13.800000
6573    13.138889
Name: Temperature (C), Length: 744, dtype: float64
For month 5
Mean Temperature is: 15.650731780167266
Standart deviation is 4.744581723775078

3623    17.777778
3624    16.688889
4369    10.527778
4370     7.155556
4371     6.644444
          ...
5082    18.961111
5083    17.572222
5084    13.144444
5085    12.944444
5086    12.005556
Name: Temperature (C), Length: 720, dtype: float64
For month 6
Mean Temperature is: 19.35462191358025
Standart deviation is 6.647687763465947

720     21.016667
721     19.444444
3625    17.216667
3626    15.650000
3627    15.627778
          ...
4362    20.522222
4363    20.266667
4364    18.055556
4365    17.916667
4366    17.522222
Name: Temperature (C), Length: 744, dtype: float64
For month 7
Mean Temperature is: 23.588664874551974
Standart deviation is 5.3486339537781795

722     20.722222
723     18.794444
724     17.733333
725     17.605556
726     18.733333
          ...
1461    20.972222
1462    18.800000
1463    17.700000
8039    13.938889
8040    14.950000
Name: Temperature (C), Length: 744, dtype: float64
For month 8
Mean Temperature is: 19.478726105137397
Standart deviation is 4.751328709657937

7294    14.261111
7295    13.705556
8041    10.644444
8042    13.266667
8043    12.222222
          ...
8754    17.238889
8755    14.327778
8756    12.661111
8757    13.055556
8758    12.050000
Name: Temperature (C), Length: 720, dtype: float64
For month 9
Mean Temperature is: 18.167731481481482
Standart deviation is 4.81387851272809

6574     1.016667
7296    13.255556
7297    13.177778
7298    12.105556
7299    12.272222
          ...
8034    14.861111
8035    12.322222
8036    10.972222
8037    10.416667
8038     9.572222
Name: Temperature (C), Length: 744, dtype: float64
For month 10
Mean Temperature is: 12.84475806451613
Standart deviation is 5.97854812659291

1464     6.572222
6575     5.550000
6576    -0.116667
6577     0.972222
6578     0.150000
          ...
7289    13.783333
7290    12.122222
7291    11.538889
7292    10.022222
7293     8.305556
Name: Temperature (C), Length: 720, dtype: float64
For month 11
Mean Temperature is: 7.13770061728395
Standart deviation is 4.327336965166411

1465     6.627778
1466     6.622222
1467     6.622222
1468     6.150000
1469     6.061111
          ...
2204    10.066667
2205     9.027778
2206     8.955556
2207     9.000000
8759    -0.650000
Name: Temperature (C), Length: 744, dtype: float64
For month 12
Mean Temperature is: 2.218219832735962
Standart deviation is 4.276750805025757